@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #42a5f5;
  font-family: 'Roboto';
  width: auto !important;
  height: 100%;
  overflow-x: hidden !important;
}

body {
  font-size: x-large;
  position: relative;
}

@media (max-width: 1800px) {
  body {
    font-size: large;
  }
}

@media (max-width: 500px) {
  body {
    font-size: medium;
  }
}
